@{
    ViewData["Title"] = "Delete Movie?";
}
@model JoelFilms.Models.NewMovieModel

<div class="container text-center">
    <h1 class="display-4">"Are you sure you want to delete @Model.Title?</h1>
</div>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" asp-route-applicationid="@Model.MovieID">Cancel</a>

    <!-- Only needs ID to delete -->
    <input type="hidden" asp-for="MovieID" />
</form>